@model SistemaEmpleados.Models.VacacionesDisponible

@{
    ViewData["Title"] = "Edit";
}

<h1>Edición de vacaciones</h1>

<h4>Vacaciones Disponibles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VacacionesId" />
            <div class="form-group">
                <label asp-for="EmpleadoId" class="control-label">Nombre del empleado</label>
                <select asp-for="EmpleadoId" class="form-control" asp-items="ViewBag.EmpleadoId"></select>
                <span asp-validation-for="EmpleadoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anio" class="control-label">Año</label>
                <input asp-for="Anio" class="form-control" />
                <span asp-validation-for="Anio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasAsignados" class="control-label">Días asignados</label>
                <input asp-for="DiasAsignados" class="form-control" />
                <span asp-validation-for="DiasAsignados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasTomados" class="control-label">Días tomados</label>
                <input asp-for="DiasTomados" class="form-control" />
                <span asp-validation-for="DiasTomados" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
